<h2>My Todos</h2>

<div class="container">
  <div class="row">
    <div *ngFor="let todo of todos" class="col-4" >
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Id: {{todo.id}}
        </div>
        <div class="card-body">
          <h5 class="card-title">Name: {{todo.name}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>

<app-todo-detail [todo]="selectedTodo"></app-todo-detail>
