<h2 class="text-center">My Todos</h2>


<div class="container">
  <button type="button" class="btn btn-primary btn-lg btn-block" (click)="add()">Add Todo</button>
  <div class="row" *ngFor="let todo of todos">
      <div class="card" style="width: 40rem;">
        <div class="card-header">
          Id: {{todo.id}}
        </div>
        <div class="card-body" (click)="open(todo)">
          <div>
            <h5 class="card-title">{{todo.name}}</h5>
          </div>
        </div>
      </div>
  </div>
</div>


