<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Details of Todo {{todo.id}}</h4>
</div>
<div class="modal-body">
  <form>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Name:</span>
      </div>
      <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" #name placeholder="{{todo.name}}">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Description:</span>
      </div>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" #description placeholder="{{todo.description}}">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <label class="input-group-text">Status</label>
      </div>
      <div class="custom-control custom-switch">
        <input type="checkbox" class="custom-control-input" id="customSwitch1" #status [checked]="todo.status">
        <label class="custom-control-label" for="customSwitch1">Turn on to set to 'true'</label>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">DueDate:</span>
      </div>
      <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1" #dueDate placeholder="{{todo.dueDate}}">
    </div>
  </form>
</div>
<hr>
<button type="button" class="btn btn-primary" (click)="save()">Save</button>

