<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Details of Todo {{todo.id}}</h4>
  </div>
  <div class="modal-body">
    <form>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Name:</span>
        </div>
        <input type="text" required="true" minlength="1" maxlength="30" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
               [(ngModel)]="name"
               name="w">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">Description:</span>
        </div>
        <input type="text" maxlength="500" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
               [(ngModel)]="description" name="x">
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <label class="input-group-text">Status</label>
        </div>
        <label class="switch">
          <input type="checkbox" [(ngModel)]="status" name="y">
          <span class="slider round"></span>
        </label>
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text">DueDate:</span>
        </div>
        <input type="text" required="true" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
               [(ngModel)]="dueDate" name="z">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()">Save</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="window.location.reload()">Close
    </button>
  </div>
</div>

