<div *ngIf="todo" class="container">
  <div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <label>Name:</label>
        <input [(ngModel)]="todo.name" placeholder="name"/>

      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <label>Description:</label>
        <input [(ngModel)]="todo.description" placeholder="description"/>

      </div>
    </div>
    <div class="row">
      <label>Status:
        <input type="checkbox" [(ngModel)]="todo.status" placeholder="status"/>
      </label>
    </div>
    <div class="row">
      <label>Due Date:
        <input [(ngModel)]="todo.dueDate" placeholder="dueDate"/>
      </label>
    </div>
  </div>
</div>
